---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { sortBy } from 'lodash';

interface MarkdownFrontmatter {
	publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Riffle';
let description = 'Reactive relational state management';
let permalink = 'https://riffle.systems/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.fetchContent('./posts/*.md');
allPosts = sortBy(allPosts, 'publishDate').reverse();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				margin-top: 2rem;
				margin-bottom: 8rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.content section {
				margin-bottom: 4rem;
			}

            .email-container {
              display: inline-block;
            }

            .email-box {
              border: 1px solid #ddd;
              height: 100%;
                padding: 0.5em 1em;
              display: table-cell;
              outline: none;
              border-radius: 2px 0 0 2px;
            }

            .email-box:hover {
              border-color: var(--color-riffle-green)
            }

            .email-button {
              background: var(--color-riffle-green);
              color: white;
              text-transform: uppercase;
              border: 1px solid var(--color-riffle-green);
              border-radius: 0 2px 2px 0;
              padding: 0.5em 1em;
              height: 100%;
              cursor: pointer;
              display: table-cell;
            }

		</style>
	</head>

	<body>
		<BlogHeader />
		<div class="wrapper">
			<main class="content">
				<section class="project-intro" aria-label="Project description">
				<p>
					A research project exploring new approaches to managing state in user interfaces.
				</p>
				<p>
					By Geoffrey Litt, Nicholas Schiefer, and Daniel Jackson at MIT CSAIL.
				</p>

				</section>

                <section>
                    <form
                      action="https://buttondown.email/api/emails/embed-subscribe/riffle"
                      method="post"
                      target="popupwindow"
                    >
                      <label for="bd-email">Subscribe for updates about the Riffle project:</label>
                      <div class="email-container">
                        <input class="email-box" type="email" name="email" id="bd-email" placeholder="Email"/>
                        <input class="email-button" type="submit" value="Subscribe" />
                      </div>
                    </form>
                
                </section>

				<section aria-label="Blog post list">
					{allPosts.map((p) => <BlogPostPreview post={p} />)}
				</section>

			</main>
		</div>
	</body>
</html>
