---
---

<div class="abstract">
  <slot />
</div>

<style>
  .abstract {
    background: var(--color-gray-100);
    border: solid thin var(--color-gray-200);
    padding: 1.5rem;
  }

  :global(p) {
    margin-bottom: 1rem;
  }
</style>
