---

import Author from "./Author.astro"
import { shuffle } from 'lodash'

export interface Props {
    authors: [{name: string, email: string} | [{name: string, email: string}]];
}

const {authors} = Astro.props;

const flattenedAuthors = [];
for (const authorOrEqual of authors) {
    if (Array.isArray(authorOrEqual)) {
        const equalAuthors = shuffle(authorOrEqual);
        for (const author of equalAuthors) {
            flattenedAuthors.push({... author, postSymbol: "*"});
        }
    } else {
        flattenedAuthors.push(authorOrEqual);
    }
}
console.log(flattenedAuthors)
---

<div class="authors">
    {flattenedAuthors.slice(0, -1).map(author => <span><Author {author} />, </span>)}
    and
    <Author author={flattenedAuthors.slice(-1)[0]} />
</div>
