---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview-container">
  {post.draft ? (
    <div class="post-preview">
      <div class="publish-date">Soon</div>
      <div class="title draft">
        <h1>{post.title}</h1>
      </div>
    </div>
  ) : (
    <a href={post.url}>
      <div class="post-preview">
        <div class="publish-date">{post.publishDate}</div>
        <div class="title">
          <h1>{post.title}</h1>
        </div>
      </div>
    </a>
  )}
</article>

<style>
  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .post-preview-container {
    margin-bottom: 1rem;
  }

  .post-preview {
    display: flex;
    align-items: baseline;
    font-family: var(--font-sans);
  }

  .title,
  .publish-date {
    margin: 0;
  }

  .publish-date {
    font-size: 1rem;
    font-weight: normal;
    color: var(--theme-text-lighter);
    margin-right: 0.5rem;
    flex: 0 0 12ch;
  }

  .title {
    flex: 1 0 0;
  }

  .title h1 {
    font-size: 1rem;
    font-weight: 400;

    /* todo: this line-height is hardcoded to align w/ the date. Fix in a better way */
    line-height: 1.6;
    color: var(--theme-text);
  }

  .title.draft h1 {
    color: var(--theme-text-lighter);
  }
</style>
