---
import { AuthorList } from "./AuthorList.jsx";
import { TableOfContents } from "./TableOfContents.jsx";

export interface Props {
  title: string;
  authors: [{ name: string; link: string } | [{ name: string; link: string }]];
  publishDate: string;
  alt: string;
  astro: any;
}

const { title, authors, publishDate, astro } = Astro.props;
---

<div class="layout">
  <article class="content">
    <div>
      <header>
        <p class="publish-date">{publishDate}</p>
        <h1 class="title">{title}</h1>
        <AuthorList client:load {authors} />
      </header>
      <TableOfContents client:load headers={astro.headers} />
      <main>
        <slot />
      </main>
    </div>
  </article>
</div>

<style>
  .hero-image {
    width: 100vw;
    object-fit: cover;
    object-position: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 1280px;
  }

  @media (max-width: 50em) {
    .hero-image {
      height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .content {
    margin-bottom: 8rem;
    max-width: 75ch;
  }

  .content :global(main > * + *) {
    margin-top: 1.25rem;
  }

  .content :global(h1) {
    font-size: 2.25rem;
  }

  .content :global(h2) {
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .content :global(h3) {
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    .content :global(h1) {
      font-size: 1.8rem;
    }
  }

  .content :global(h5) {
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: -0.3rem;
  }

  .content :global(table) {
    font-family: var(--font-sans);
    background: white;
    border-collapse: collapse;
  }

  .content :global(td),
  .content :global(th) {
    border: solid thin var(--color-gray-300);
    padding: 3px 6px;
  }

  /* Hyphenation settings borrowed from Ink & Switch */
  .content :global(p),
  .content :global(li) {
    text-align: justify;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 4;
    -webkit-hyphenate-limit-chars: 10 4 4;
    -webkit-hyphenate-limit-lines: 1;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 10%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 10 4 4;
    -moz-hyphenate-limit-lines: 1;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 10%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 10 4 4;
    -ms-hyphenate-limit-lines: 1;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 10%;
    hyphens: auto;
    hyphenate-limit-chars: 10 4 4;
    hyphenate-limit-lines: 1;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 10%;
  }

  .content :global(a) {
    text-decoration: dotted underline;
  }

  .content :global(a:hover) {
    text-decoration: solid underline;
  }

  .content :global(table) {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
  }

  .content :global(td) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*
  Based on Gwern's analysis of the Tufte-CSS side note feature.
  https://www.gwern.net/Sidenotes#tufte-css
  */
  .content :global(aside),
  .content :global(.aside) {
    float: right;
    margin-right: -60%;
    padding-right: 5rem;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 80%;
    vertical-align: baseline;
    position: relative;
  }

  /* tablet width */
  @media (max-width: 1000px) and (min-width: 768px) {
    .content :global(aside),
    .content :global(.aside) {
      margin-right: -40%;
      width: 35%;
      padding-right: 1rem;
    }
  }

  /* The mobile fallback: */
  @media (max-width: 768px) {
    .content :global(aside),
    .content :global(.aside) {
      display: block;
      float: none;
      clear: both;
      left: 1rem;
      width: 100%;
      margin: 0.3rem 0;
      vertical-align: baseline;
      position: relative;
      padding: 1rem;
      color: #666666;
    }
  }

  .content :global(figcaption) {
    font-size: 0.9rem;
    margin-top: -5px;
    background-color: #f5f4f0;
    padding: 10px;
    border-top: dashed thin #e2decf;
  }

  header {
    display: flex;
    flex-direction: column;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .title,
  .author,
  .publish-date {
    margin: 0;
  }

  .publish-date,
  .author {
    color: var(--theme-text-lighter);
  }

  .title {
    font-family: "Proza Libre", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
  }
</style>
