---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview-container">
  {post.draft ? (
    <div class="post-preview">
      <div class="publish-date">Soon</div>
      <h1 class="title draft"> {post.title}</h1>
    </div>
  ) : (
    <a href={post.url}>
      <div class="post-preview">
        <div class="publish-date">{post.publishDate}</div>
        <h1 class="title">{post.title}</h1>
      </div>
    </a>
  )}
</article>

<style>
  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .post-preview-container {
    margin-bottom: 1rem;
  }

  .post-preview {
    display: flex;
    align-items: flex-start;
  }

  .title,
  .publish-date {
    margin: 0;
  }

  .publish-date {
    font-size: 1rem;
    font-weight: normal;
    color: var(--theme-text-lighter);
    margin-right: 0.5rem;
    width: 12ch;
  }

  .title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--theme-text);
  }

  .title.draft {
    color: var(--theme-text-lighter);
  }
</style>
