---

export interface Props {
    prompt: string;
}

const { prompt } = Astro.props;

---

<form
    action="https://buttondown.email/api/emails/embed-subscribe/riffle"
    method="post"
    target="popupwindow"
>
    <label for="bd-email">{prompt}</label>
    <div class="email-container">
        <input class="email-box" type="email" name="email" id="bd-email" placeholder="Email"/>
        <input class="email-button" type="submit" value="Subscribe" />
    </div>
</form>

<style>
    .email-container {
        display: inline-block;
    }

    .email-box {
        border: 1px solid #ddd;
        height: 100%;
        padding: 0.5em 1em;
        display: table-cell;
        outline: none;
        border-radius: 2px 0 0 2px;
    }

    .email-box:hover {
        border-color: var(--color-riffle-green)
    }

    .email-button {
        background: var(--color-riffle-green);
        color: white;
        text-transform: uppercase;
        border: 1px solid var(--color-riffle-green);
        border-radius: 0 2px 2px 0;
        padding: 0.5em 1em;
        height: 100%;
        cursor: pointer;
        display: table-cell;
    }
</style>