@media (max-width: 1000px) {
  .toc {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 5rem;
  padding: 1rem 0.5rem 1rem 1%;
  float: left;
  margin-left: -53%;
  width: 46%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 80%;
  border-right: solid thin var(--color-gray-200);
  border-bottom: none;
  min-height: 25rem;
}

.toc .tocHeaderLink {
  color: var(--color-gray-500);
  text-decoration: none !important;
}

.toc .tocHeaderLink:hover {
  color: var(--theme-accent);
  text-decoration: solid underline !important;
}

.subheader {
  line-height: 1;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.header {
  line-height: 1;
  margin-top: 0.8rem;
}

.toc .tocHeaderLink.active {
  color: var(--theme-accent);
  font-weight: bold;
}
