@media (max-width: 1000px) {
  .toc {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 0;
  padding: 1rem 0 1rem 1%;
  float: right;
  margin-right: -59%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 80%;
  vertical-align: baseline;
  background: var(--color-gray-50);
  z-index: 2;
  border-bottom: solid thin var(--color-gray-300);
}

.toc .tocHeaderLink {
  text-decoration: none !important;
}

.toc .tocHeaderLink:hover {
  text-decoration: solid underline !important;
}

.subheader {
  margin-left: 1rem;
  margin-top: 0.4rem;
  line-height: 1;
}

.header {
  margin-top: 0.3rem;
}

.active {
  font-weight: bold;
}
